@import url(reset.css);

body  div {
    outline: 2px solid black;
}
.container {
    width: 1200px;
    background: brown;
    margin: 0 auto ;
}
.blue-box {
    display: flex;
    background: rgb(0, 157, 255);
}
.blue-box > div {
    width: 400px;
    height: 400px;
}

.green-box {
    display: flex;
    background: green;
}

.green-box > div {
    width: 800px;
    height: 400px;
}
.green-box > div  + div {
    width: 400px;
    height: 400px;
}
.green-box > div > div {
    height: 50%;
}
.green-box > div + div > div {
    height: 33.33%;
}
.orange-box {
    display: flex;
    background: orange;
}
.orange-box > div {
    width: 400px;
    height: 400px;
}
.orange-box > div + div {
    width: 800px;
}
.orange-box > div + div > div:nth-child(1) {
    height: 200px;
}

.last-child {
    display: flex;
}
.last-child > div {
    width: 400px;
    height: 200px;
}

.last-child > div + div > div {
    height: 100px;

}